body {
    background-color: #808080;
}

#container {
    background-color: #0E2431;
    border: 5px solid #ffffff;
    height: 500px;
    width: 300px;
    margin: 0 auto;
    text-align: center; 
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: rgb(192, 191, 191)
}

#output {
    margin: 25px auto;
    font-size: 26px;
    color: white;
}

#challenges_counter {
    margin: 25px auto;
    font-size: 26px;
    color: white;
}

#rst {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: rgb(192, 191, 191)
}